html {
  max-width: 30rem;
  padding: 2rem 1rem;
  margin: auto;
  line-height: 1.5;
  font-size: 1rem;
  background-color: #000;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0;
  font-size: 1rem;
  color: #adadad;
  font-weight: normal;
}

h1 {
  font-size: 1.2rem;
  color: #fff;
}

p, ul, ol {
  margin-bottom: 1rem;
}

.italic-text {
  font-style: italic;
}

.header {
  margin: 1rem 0 2rem 0;
  font-size: 1rem;
  color: #adadad;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header a:hover {
  color: #fff;
}

hr {
  border: none;
  height: 1px;
  background-color: #adadad;
  margin: 1rem 0;
}

.link-container p {
  color: #adadad;
  text-decoration: none;
}

.link-container h2 {
  color: #fff;
}
