html {
  max-width: 30rem;
  padding: 2rem 1rem;
  margin: auto;
  line-height: 1.5;
  font-size: 1.25rem;
  background-color: #000;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 1.1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0;
  font-size: 0.9rem;
  color: #adadad;
  font-weight: normal;
}

p, ul, ol {
  margin-bottom: 1rem;
}

.italic-text {
  font-style: italic;
}

.header {
  margin: 1rem 0 2rem 0;
  font-size: 0.9rem;
  color: #adadad;
}

.header a {
  color: #adadad;
  text-decoration: none;
}

.header a:hover {
  color: #fff;
}
